<h1>Top#index</h1>
<p>Find me in app/views/top/index.html.erb</p>
<button type="button" name="login" value="a" onClick='login()'>
  login
</button>
<button type="button" name="logout" value="b" onClick='logout()'>
  logout
</button>
